.Button {
	position: relative;
	padding: 10.5px 16px 11.5px;
	height: 44px;
	background: $white;
	outline: 0;
	border-width: 0;
	border-radius: $elements_section_radius;
	font-weight: 500;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	color: $black;

	&--secondary {
		color: $black;
	}

	&--default {
		padding: 10px 20px;
		background-color: #0053ba;
		color: white;
		border: none;
		border-radius: 5px;

		&:hover {
             background: $button_hover_gradient, $white;
         }
	}

	&--rounded {
		padding: 0;
		border-radius: 50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

    &--primary {
         color: $white;
         background: $landing_button_primary_background;
     }
}

.SectionButton {
	height: 44px;
	display: block;
	text-decoration: none;
	outline: 0;
	background: unset;
	border: 0;
	cursor: pointer;
	font-size: 16px;
	padding: 0;

	&:disabled {
		opacity: .4;
		cursor: initial;
	}

	&__border {
		border: 0;
		padding: 2px;
		border-radius: $button_section_radius;
		background: $button_section_background;
		width: 100%;
		height: 100%;
	}

	&__background {
		border-radius: $button_section_inner_radius;
		background: $button_section_background;
		width: 100%;
		height: 100%;
	}

	&__text {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10.5px 16px 11.5px;
		color: $static_white;
		width: 100%;
		height: 100%;
	}
}
.SlideButton {
    display: none;

    &--disabled {
         cursor: default;
         opacity: .4;
     }
    &__icon {
         color: $gray_light;
         font-size: 28px;
     }
}
@media (min-width: 1000px) {
	.Button {
		&--secondary:hover {
			opacity: .8;
		}
	}

	.SlideButton {
         display: inline-flex;
         width: 48px;
         height: 48px;
         transition: all .3s;
         box-shadow: 0 0 2px $black_alpha8, 0 2px 24px $black_alpha8;
     }
}