.Dropdown {
    position: relative;
    display: inline-block;

    &__toggle {
      padding: 10px 20px;
      background-color: $button_section_background;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 16px;
      border-radius: 5px;
    }

    &__menu {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      width: 100%;
      z-index: 10;
      margin-top: 5px;
    }

    &__item {
      display: block;
      padding: 10px;
      color: #333;
      text-decoration: none;
      font-size: 14px;
      border-bottom: 1px solid #f0f0f0;

      &:hover {
         background-color: #f7f7f7;
         color: #007bff;
       }
      &:last-child {
         border-bottom: none;
       }
    }
}