.error, .loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  text-align: center;
  padding: 20px;
  font-size: 30px;

    h1 {
      font-size: 6rem;
      color: #EEA536;
      margin-bottom: 20px;
    }

    h2 {
      color: #EEA536;
      margin-bottom: 20px;
    }
}

p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #555;
}

.back-btn {
  text-decoration: none;
  font-size: 1.2rem;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 20px;

  &:hover {
     background-color: #45a049;
   }
}
