.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: $foreground-layer-z-index;

    &__backdrop {
         position: fixed;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         background-color: $black_alpha72;
         cursor: pointer;
     }
    &__content {
         position: relative;
         background-color: $white;
         border-radius: $elements_section_radius;
         overflow-y: inherit;
         max-height: 100%;
         z-index: $foreground-layer-z-index;
     }
    &__closeButton {
         position: absolute;
         right: -15px;
         border-radius: 50%;
         margin: 0;
         font-size: 16px;
         color: $white;
     }
    &__closeButtonIcon {
         color: $white;
     }
}

@media (max-width: 1000px) {
    .Modal {
        &__content {
             position: fixed;
             top: 0;
             left: 0;
             right: 0;
             bottom: 0;
             border-radius: 0;
             border-width: 0;
             overflow-y: auto;
         }

        &__closeButton {
            position: relative;
            top: 5px;
            left: 5px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: 0 0;
            font-size: 25px;
            cursor: pointer;
            z-index: $foreground-layer-z-index;
        }
    }
}