$white: #fff;
$black: #000;
$dark: #2c2d2e;
$static_white: #fff;
$static_black: #000;

$white_alpha16: rgba(255, 255, 255, 0.16);
$white_alpha24: rgba(255, 255, 255, 0.24);
$black_alpha8: rgba(0, 0, 0, 0.08);
$black_alpha12: rgba(0, 0, 0, 0.12);
$black_alpha16: rgba(0, 0, 0, 0.16);
$black_alpha40: rgba(0, 0, 0, 0.40);
$black_alpha72: rgba(0, 0, 0, 0.72);
$gray_200: #cccccc;
$gray_300: #b2b2b2;
$gray_400: #939393;
$gray_600: #656565;
$blue_600: #2a5885;
$light_blue_500: #577ca1;
$steel_gray_40: #f0f2f5;
$steel_gray_80: #e7e8ec;
$steel_gray_120: #d3d9de;
$steel_gray_140: #c5d0db;
$steel_gray_500: #6f7985;
$green_alpha16: rgba(75, 179, 75, 0.16);
$red_alpha16: rgba(230, 70, 70, 0.16);
$yellow_light: #faefd2;
$pink_light: #faebeb;
$gray: #818c99;
$gray_dark: #6d7885;
$gray_light: #99a2ad;
$blue: #4986cc;
$blue_light: #3f8ae0;
$red: #e64646;
$red_light: #ffd6cc;
$green_light: #2cb869;
$static_gray_light: #f5f5f5;
$static_dark: #2c2d2e;
$landing_input_background: #f2f3f5;
$input_placeholder: $gray;
$landing_input_border: #e0e0e0;
$landing_button_primary_background: #148409;
$landing_button_secondary_background: rgba(0, 28, 61, .05);
$button_hover_gradient: linear-gradient(0deg, rgba(0, 0, 0, .04), rgba(0, 0, 0, .04));
$landing_content_positive_background: $green_light;
$landing_content_negative_background: $pink_light;
$landing_content_tint_background: $steel_gray_40;
$favorite_button: rgba(255, 255, 255, .64);
$favorite_button_hover: rgba(255, 255, 255, .8);
$favorite_button_fill: $white;
$modal_close_button: rgba(0, 0, 0, .35);
$badge_background: #e64646;
$badge_text: #f9f9f9;
$tabs_item_border: #f2f3f5;
$tabs_item_inactive: $gray;
$tabs_item_active: #474747;
$block_title: $dark;
$block_sub_title: $gray_dark;
$block_light_background: #f9f9f9;
$block_border: #ebedf0;
$link: $green_light;
$slider_button: #b8c1cc;
$slider_button_active: $black;
$product_modal_favorite_button: #e1e3e6;
$product_cart_photo_background_color: #f9f9f9;
$photo_border_color: rgba(0, 0, 0, 0.08);
$photo_background_color: rgba(0, 28, 61, .05);
$zoom_modal_background: $dark;
$zoom_modal_header: rgba(0, 0, 0, .4);
$top_group_avatar_border_color: rgba(0, 0, 0, .12);
$top_group_avatar_box_shadow: rgba(0, 0, 0, .08);
$form_group_label: $gray_dark;
$light_icon_tertiary: #b8c1cc;

$foreground-layer-z-index: 3;
$second-layer-z-index: 2;
$third-layer-z-index: 1;
$background_layer-z-index: -1;

$button_section_background: #148409;
$button_section_radius: 15px;
$button_section_inner_radius: 10px;
$section_font: 'Open Sans';
$section_font_weight: 500;
$section_font_size_offset: 0px;
$elements_section_radius: 10px;

$animation-speed: .25s;

$checkbox_color: $green_light;