name: Go Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache-dependency-path: backend/go.sum

      - name: Cache Go modules
        uses: actions/cache@v5
        with:
          path: /tmp/cache/go-build
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-mod-

      - name: Install dependencies
        run: |
          cd backend
          go mod tidy

      - name: Run tests
        run: |
          cd backend
          go test -v ./...
        continue-on-error: false

      - name: Upload code coverage
        uses: codecov/codecov-action@v2
        with:
          file: ./coverage.out
